@page "/"

<h1>"Obligatory" home page..</h1>
<br />

<h4>Shiny....</h4>

<img class="img-fluid img-thumbnail rounded" src="images/group-pic.jpeg" />
<div class="d-flex justify-content-end"><i>- Fiona, Denise, Violet, Darren</i></div>